[access]
	inheritFrom = All-Projects
[project]
	description = This module is used to organize all of the common artifacts and capabilities that are inherited by all modules.  This prevents duplication of these common artifacts, plugins, and\nother settings and provides a single place to support this configuration.
[access "refs/*"]
	owner = group ldap/onap-gerrit-aaf-authz-committers
	read = group GitHub Replication
