/*
  Modifications for iPhone
*/
body {
	zoom: 210%;
}

#breadcrumbs {
	font-size: .9em;
}


div.std table {
	margin: 0 0 20px 0;
	zoom: 130%
}
	

div.stdform th {
	font-size: 9px;
}

#content input {
	font-size: 1.3em;
}


#Pages a {
	font-size: 1.3em;
	width: 75%;
	height:35px;
}

#nav {
	display: none; 
}


