/*
  Standard CSS for AAF
*/

html {
	height: 100%;
}

body {
	background-image:url('ONAP_LOGO.png');
	background-color: #FFFFFF;
	background-repeat:no-repeat;
	background-position: right top;
	background-size:15em 4.3em;
	color:#606060;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	overflow: scroll;
	}

header h1,p {
	margin: 4px auto;
}

header h1 {
	display: inline;
}

header {
	display: block;
	color: #347FA0;
}

p#version {
	margin:0;
	display:inline;
	font-size: 0.75em;
	float:center;
	color: 2B6E9C;
	padding-right:4.2em;
}

header hr {
	margin: 0;
}

hr {
	border: 1px solid #C0C0C0;
}

#breadcrumbs {
	padding: 5px 0 12px 0;
}


#breadcrumbs ul {
	color: #DFEFFC;
	margin: 0;
	list-style-type:none;
	padding: 0;
}

#breadcrumbs li {
	border-width:2px;
	margin: 3px 1px;
	padding: 2px 9px;
	border-style:solid;
	border-top-left-radius: .8em;
	border-bottom-left-radius: .8em;
	background-color:#80C337;
	display:inline;
}

#breadcrumbs a {
	text-decoration:none;
	color: white;
}

caption {
	color:4BADA9;
	text-align: center;
	font-size:1.3em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#Pages {
	padding: 3px 2px 10px 4px;
	background: linear-gradient(to right, #147AB3,#FFFFFF);
}

#Pages h3,h4,h5 {
	color: #909090;
}

# SuperScript
sup {
	color: #909090;
	font-size: 70%;
	vertical-align: super;
}
 
form {
	padding: 10px;
	margin: 4px;
}

.textInput {
#	size: 120%;
}

#form input[id],select#myroles {
#	margin: 4px 0;
#	width: 150%;
#}

form label {
	margin: 4px 0;
}

form label[required] {
	color: red;
}

form input[type=submit], form input[type=reset] {
	font-size: 1.0em;
	margin: 12px 0 0px 0;
#	color: #347FA0;
	color: white;
	background-color: #7FB5C9;
	border-radius: 15px;
}

p.preamble, p.notfound,.expedite_request {
	display: block;
	margin: 30px 0px 10px 0px;
	font: italic bold 20px/30px Georgia, serif;
	font-size: 110%;
	color: #0079B8;
}
.expedite_request {
	margin-top: 0;
	color: 4BADA9;
}

.subtext {
	margin-left: 10px;
	font-size: 75%;
	font-style: italic;
}

.protected {
	font-size: 80%;
	font-style: italic;
	color: red;
}

#Pages a {
	display:block;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#80C337;
	text-decoration:none;
	border-top-right-radius: .8em;
	border-bottom-right-radius: .8em;
	border-top-left-radius: .2em;
	border-bottom-left-radius: .2em;
	padding: 3px 40px 3px 10px;
	margin: 4px;
	width: 50%;
}

#footer {
	background-color: #2B6E9C;
	color: #FFFFFF; 
	text-align:right;
	font-size: 60%;
	padding: 5px;
	position:fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

/* 
  Standard Table, with Alternating Colors
*/
div.std {
	vertical-align: top;
}

div.std table, div.stdform table {
	position: relative;
	border-collapse:collapse;
	table-layout:auto;
	left: 1.3%;
	width: 98%;
	margin-top: 5px;
	bottom: 4px;
	border-radius: 4px;
}

td.detailFirst {
	border-color:red;
	border-style:solid none none none;
}

td.detail {
  border-style:none;
 }


div.std td, div.stdform td {
	font-size:.9em;
	vertical-align:top;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
	padding-right: 4px;
}

.left {
	text-align: left;
	padding-left: 4px;
}


p.double {
	line-height: 2em;
}

p.api_comment {
	font-size: .9em;
	text-indent: 6px;
}

p.api_contentType {
	font-size: .8em;
	text-indent: 6px;
}

p.api_label {
	font-size: .9em;
	font-style: italic;
}

.button, .greenbutton {
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
    background: ButtonFace; color: ButtonText;
    border-style: solid; border-width: 2px;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	border-radius: 10px;
	color: black;
}

.greenbutton {
	color: white;
	background-color: #80C337;
}

div.std h1, div.std h2, div.std h3, div.std h4, div.std h5 {
	text-indent: 7px;
}
	
div.std td {
	border:1px solid #A6C9E2;
}
	
div.std th, div.stdform th {
	background-color:#6FA7D1;
	color:#FFFFFF;
	}

div.std tr.alt, div.stdform tr.alt {
	background-color:#DFEFFC;
}

div.std th {
	text-align: left;
	text-indent: .1em;
}

#div.std a, div.stdform a {
#	/*color: #606060;*/
#	/*color: #147AB3;*/
#	color: black;
#}

td.head {
	font-weight:bold;
	text-align: center;
}

td.head a {
	color:blue;
}

/* 
  A Table representing 1 or more columns of text, i.e. Detail lists
*/
div.detail table {
	width: 100%;
}

div.detail caption {
	border-bottom: solid 1px #C0C0C0;
}


/*
	Approval Form select all

*/
.selectAllButton {
	background: transparent;
	border:none;
	color:blue;
	text-decoration:underline;
	font-weight:bold;
	cursor:pointer;
}


/*
	Begin Web Command Styling
*/
#console_and_options {
	position:relative;
}

.maximized {
	position:absolute;
	top:0px;
	bottom:50px;
	left:0px;
	right:0px;
	z-index:1000;
	background-color:white;
}

#console_area {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: black;
	color: white;
	font-family: "Lucida Console", Monaco, monospace;
	overflow-y: scroll;
	height: 600px;
	min-width: 600px;
	padding: 5px;	
	resize: vertical;
}

.command,.bold {
	font-weight: bold;
}

.command:before {
	content: "> ";
}

.response{
	font-style: italic;
	font-size: 150%;
}

#input_area {
	margin-top: 10px;	
	clear: both;
}

#command_field, #submit {
	font-size: 125%;
	background-color: #333333;
	color: white;
	font-family: "Lucida Console", Monaco, monospace;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

#command_field {
	width: 75%;
	padding-left: 1em;
}

#submit {
	background-color: #7FB5C9;
	padding: 0 5%;
	float: right;
}

/*
	Options Menu Styling for Web Command
*/
#options_link {
	-webkit-border-radius: 0 0 20% 20%;
	-moz-border-radius: 0 0 20% 20%;
	border-radius: 0 0 20% 20%;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.closed {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#options_link:hover, .open {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

#options_link, #options {
	background: white;
	position:absolute;
	top:0;
	right:2em;
	padding:0.1em;
}

#options > img {
	cursor: pointer;
	float: right;
	padding: 0.2em;
}

.selected {
	border: 3px solid 2B6E9C;
}

#options, #text_slider {
	display:none;
	padding:0.5em;
	-webkit-border-radius: 0 0 0 10px;
	-moz-border-radius: 0 0 0 10px;
	border-radius: 0 0 0 10px;
}
#text_slider {
	clear:both;
}

/*
	Button styling for changing text size
*/
.change_font {
	border-top: 1px solid #96d1f8;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	padding: 0 2px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 14px;
	font-family: monospace;
	text-decoration: none;
	vertical-align: middle;
}
.change_font:hover {
	border-top-color: #28597a;
	background: #28597a;
	color: #ccc;
}

/*
	Text Size Slider styling
*/

input[type=range] {
  -webkit-appearance: none;
  width: 60%;
  margin: 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 0.6px;
  border: 0.5px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 30px;
  background: #efffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.15px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2.7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 0.6px;
  border: 0.5px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 30px;
  background: #efffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2.7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.5px solid #010101;
  border-radius: 1.2px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.5px solid #010101;
  border-radius: 1.2px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 30px;
  background: #efffff;
  cursor: pointer;
  height: 2.7px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
.expired {
	color: red;
	background-color: pink;
}
.blank_line {
	padding: 10px;
}
#filterByUser input {
	display: inline;
}

#PassChange p {
	font-size: .9em;
}

#passwordRules li {
	font-size: .9em;
}
