<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">
     <servlet>
         <servlet-name>MyServlet</servlet-name>
         <servlet-class>org.onap.aaf.sample.cadi.MyServlet</servlet-class>
     </servlet>
 
     <servlet-mapping>
         <servlet-name>MyServlet</servlet-name>
         <url-pattern>/testme</url-pattern>
     </servlet-mapping>
     
     <filter>
     	<filter-name>CADI</filter-name>
     	<filter-class>org.onap.aaf.cadi.filter.CadiFilter</filter-class>
     	<init-param>
     		<param-name>cadi_prop_files</param-name>
     		<param-value>/opt/app/osaafE/client/etc/org.osaaf.aaf.client.props</param-value>
     	</init-param>
     </filter>
 
 	<filter-mapping>
 		<filter-name>CADI</filter-name>
 		<url-pattern>/*</url-pattern>
 	</filter-mapping>    
</web-app>

