/*
  Modifications for Desktop
*/
body {
	background-size:23em 4.7em;
}


#breadcrumbs a:visited, #breadcrumbs a:link {
	transition: padding .5s;
}

#breadcrumbs a:hover {
	padding: 2px 2px 2px 30px;
	transition: padding .5s;
}

#breadcrumbs, #inner {
	margin: 3px;
	width: 77%;
	float: left;
	min-width:500px;
	background-color: #FFFFFF;
	
}

#breadcrumbs li {
	box-shadow: 3px 3px 2px #888888;
}

#Pages {
	margin: 20px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#147AB3', endColorstr='#ffffff',GradientType=1 ); /*linear gradient for IE 6-9*/
}

#Pages a:visited, #Pages a:link {
	padding: 3px 40px 3px 10px;
	transition: padding .5s;
	margin: 6px;
	box-shadow: 3px 3px 2px #888888;
}

#Pages a:hover {
	padding: 4px 80px 4px 15px;
	transition: box-shadow padding .5s;
	box-shadow: 4px 4px 3px #888888;
}


#inner {
	padding: 7px;
	background: #FFFFFF;
	overflow: hidden;
}

div.std, form {
	border: solid 2px #D0D0D0;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888;
}

div.detail {
	border: solid 2px #C0C0C0;
	border-radius: 14px;
	box-shadow: 10px 10px 5px #888888;
}

#nav {
	display: inline-block;
	position: absolute;
	right: 2%;
	left: 81%;
}
	
#nav h2 {
	color: #FF7200;
	font-size: 1.2em;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-style: italic;
	font-weight: normal;
	
}

#nav ul {
	font-style:italic; 
	font-size: .8em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #067ab4;
	list-style-type: square;
	margin: 0;
	padding: 0;
}
