/*
  Modifications for non-html5 IE
*/
body {
	background-size:23em 4.7em;
}


body h1 {
	margin: 4px auto;
	color: #F13099;
}

#footer {
	background-color: #FF7200;
	color: #FFFFFF;
	text-align:right;
	font-size: 60%;
	padding: 5px;
	position:fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#breadcrumbs a:visited, #breadcrumbs a:link {
	transition: padding .5s;
}

#breadcrumbs a:hover {
	padding: 2px 2px 2px 30px;
	transition: padding .5s;
}

#breadcrumbs, #content {
	margin: 3px;
}

#breadcrumbs, #inner {
	margin: 3px;
	width: 77%;
	float: left;
	min-width:500px;
	background-color: #FFFFFF;
}


#breadcrumbs li {
	box-shadow: 3px 3px 2px #888888;
}

#inner {
	padding: 10px;
	overflow: hidden;
}

#inner form {
	border: solid 2px #D0D0D0;
}

#inner form input[id] {
	margin: 4px 0;
}

#inner form label {
	margin: 4px 0;
}

#inner form label[required] {
	color: red;
}

#inner form input[type=submit] {
	font-size: 1.0em;
	margin: 12px 0 0px 0;
	color: #F13099;
}

p.preamble, p.notfound {
	display: block;
	margin: 30px 0px 10px 0px;
	font: italic bold 20px/30px Georgia, serif;
	font-size: 110%;
	color: #0079B8;
}


#Pages {
	margin: 20px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#147AB3', endColorstr='#ffffff',GradientType=1 ); /*linear gradient for IE 6-9*/
}

#Pages a:visited, #Pages a:link {
	display: block;
	padding: 3px 40px 3px 10px;
	transition: padding .5s;
	margin: 6px;
	box-shadow: 3px 3px 2px #888888;
 	background-color: #98bf21;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#Pages a:hover {
	padding: 4px 80px 4px 20px;
	transition: box-shadow padding 1s;
	box-shadow: 4px 4px 3px #888888;
}

tr {
	font-size: .9em;
}

tr.alt {
	background-color: #EEF0F0;
}

#nav {

	display: block;
	position: absolute;
	top: 175px;
	right: 2%;
	left: 81%;
	z-index=1;
	clear: both;
}

	
#nav h2 {
	color: #FF7200;
	font-size: 1.2em;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-style: italic;
	font-weight: normal;
	
}

#nav ul {
	font-style:italic; 
	font-size: .8em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #067ab4;
	list-style-type: square;
	margin: 0;
	padding: 0;
}

div.std {
	border: solid 2px #D0D0D0;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888;
}


div.detail {
	border: solid 2px #C0C0C0;
	border-radius: 14px;
	box-shadow: 10px 10px 5px #888888;
}

